// COLORS
$white: #ffffff;
$black: #000000;
$blaze-orange: #ff6000;
$red: #f90000;
$roman: #d65959;
$conifer: #90d659;
$gray: #7e7e7e;
$dove-gray: #646464;
$tundora: #484848;
$mine-shaft: #333333;
$silver-chalice: #b0b0b0;
$bombay: #b4b4bb;
$gallery: #eeeeee;
$mercury: #e5e5e5;
$dusty-gray: #9b9b9b;

// FONTS
$font-family-default: 'Roboto', sans-serif;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$line-height-default: 1;

$header-height: 96px;
