@import '@/common/styles/vars.scss';

.badge {
  background-color: $blaze-orange;
  color: $white;
  display: inline-flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  font-size: 12px;
  min-width: 18px;
  min-height: 18px;
  padding: 3px 5px;
}
