@import '@/common/styles/vars.scss';

.percentage {
  color: $gray;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-weight: $font-weight-bold;

  &--default {
    color: $black;
  }

  &--line-through {
    color: $dusty-gray;
    font-size: 13px;
    text-decoration-line: line-through;
    font-weight: $font-weight-regular;
  }

  &--discount {
    font-size: 12px;
    color: $red;
  }

  &--profit {
    font-size: 12px;
    color: $conifer;
  }
}
