@import '@/common/styles/vars.scss';

$levels: (
  primary: 36px,
  secondary: 28px,
  tertiary: 20px,
  quaternary: 16px,
  quinary: 14px,
  senary: 12px,
);

.headline {
  color: $tundora;
  margin: 0;

  @each $levelIndex, $levelFontSize in $levels {
    &.headline--#{$levelIndex} {
      font-size: $levelFontSize;
    }
  }
}
