@import '@/common/styles/vars.scss';

$cardSize: (
  tiny: 54px,
  small: 190px,
  medium: 244px,
  large: 254px,
);

.card {
  border: 1px solid $mercury;
  border-radius: 4px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s;
  height: 100%;

  @each $size, $sizeVar in $cardSize {
    &--#{$size} {
      width: $sizeVar;
    }
  }

  &--medium,
  &--large {
    min-height: 350px;
  }

  &:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }
}
