@import '@/common/styles/vars.scss';
@import '@/common/styles/mixins.scss';

.button {
  border: 0;
  display: inline-block;
  outline: none;
  cursor: pointer;
  line-height: 1;
  letter-spacing: 0;
  border-radius: 4px;
  user-select: none;
  margin: 0;
  padding: 5px 8px;
  width: fit-content;
  transition: background-color 200ms, box-shadow 300ms;

  $this: &;

  &--small {
    min-height: 18px;
    font-size: 10px;
    padding: 4px 8px;
  }

  &--medium {
    min-height: 26px;
    font-size: 12px;
  }

  &--large {
    min-height: 32px;
    font-size: 14px;
  }

  &--primary {
    @include background-opacity($blaze-orange, 0.11);
    color: $blaze-orange;
    border-radius: 8px;

    &:hover {
      @include background-opacity($blaze-orange, 0.15);
    }

    &#{$this}--outlined {
      @include background-opacity($white, 0.11);
      border: 1px solid $blaze-orange;
    }

    &#{$this}--disabled {
      @include background-opacity($gray, 0.11);
      color: $silver-chalice;
    }
  }

  &--secondary {
    @include background-opacity($conifer, 1);
    color: $white;
    border-radius: 4px;

    &:hover {
      @include background-opacity($conifer, 0.9);
    }

    &#{$this}--outlined {
      @include background-opacity($white, 1);
      border: 1px solid $conifer;
      color: $conifer;
    }

    &#{$this}--disabled {
      opacity: 0.5;
    }
  }

  &--tertiary {
    @include background-opacity($roman, 1);
    color: $white;
    border-radius: 4px;

    &:hover {
      @include background-opacity($roman, 0.9);
    }

    &#{$this}--outlined {
      @include background-opacity($white, 1);
      border: 1px solid $red;
      color: $red;
    }

    &#{$this}--disabled {
      opacity: 0.5;
    }
  }

  &--quaternary {
    @include background-opacity($silver-chalice, 1);
    color: $white;
    border-radius: 4px;

    &:hover {
      @include background-opacity($silver-chalice, 0.9);
    }

    &#{$this}--outlined {
      @include background-opacity($white, 1);
      border: 1px solid $silver-chalice;
      color: $silver-chalice;
    }

    &#{$this}--disabled {
      opacity: 0.5;
    }
  }

  &--full-width {
    width: 100%;
  }

  &--disabled {
    cursor: auto;
    pointer-events: none;
  }

  &:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }
}
